<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" type="image/x-icon" href="../../images/favicon.ico">

    <link rel="stylesheet" href="../../styling/Modules/car.css">
    <link rel="stylesheet" href="../../styling/master.css">
    <title>Modules | INDADD</title>
</head>
    <body>

        <nav id="navigation"></nav>
        <script src="../../scripts/navigation"></script>
        
        <header class="page_heading">
            <picture class="module_picture">
                    <source media="(min-width: )" srcset="">
                    <img src="../../images/images-modules/relationships" alt="Database Relationships">
            </picture>
            
            <picture class="header_picture">
                <source media="(min-width: 100%)" srcset="">
                <img src="../../images/uop.png" alt="UoP Logo">
            </picture>
            
            <h1 class="header_heading">This page is dedicated towards What I have been up to during University</h1>
        </header>
        
        <nav id="navigation"></nav>
        <script src="../../scripts/navigation.js"></script>
        
    </body>
</html>