<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../styling/master.css">
    <link rel="stylesheet" href="../styling/lit_review.css">
    <title>WEF1 CW | Literature Review</title>
</head>
    <body>
        <header class="page_heading">
            <h1 class="header_heading">This page is dedicated towards What I have been up to during University</h1>
    
            <picture class="header_picture">
                <source media="(min-width: 100%)" srcset="../images/uop.png">
                <img src="../images/uop.png" alt="UoP Logo">
            </picture>
        </header>
        
        <!-- <nav id="navigation"></nav>
        <script src="../scripts/navigation.js"></script> -->

        <nav id="navigation">
            <ul class="nav_ul">
                <li class="nav_li"><a href="./index.html" class="nav_a">Home</a></li>
                <li class="nav_li"><a href="literature_review.html" class="nav_a">Literature Review</a></li>
                <li class="nav_li"><a href="discovery_log.html" class="nav_a">Discovery Log</a></li>
                <li class="nav_li"><a href="uni.html" class="nav_a">Uni></a></li>
                    <div class="dropdown_content">
                        <ul class="navigation_modules">
                            <li class="nav_li"><a href="/Modules/CAR.html" class="nav_a"><abbr title="Computer Architecture">CAR</abbr></a></li>
                            <li class="nav_li"><a href="/Modules/COMP-TUT.html" class="nav_a"><abbr title="Computer Tutorial">COMP TUT</abbr></a></li>
                            <li class="nav_li"><a href="/Modules/INDADD.html" class="nav_a"><abbr title="Introduction To Databases and Design">INDADD</abbr></a></li>
                            <li class="nav_li"><a href="/Modules/INTPROG.html" class="nav_a">INTPROG</a></li>
                            <li class="nav_li"><a href="/Modules/NETFUN.html" class="nav_a">NETFUN</a></li>
                            <li class="nav_li"><a href="/Modules/WEBF1.html" class="nav_a">WEBF1</a></li>
                        </ul>
                    </div>
                <li class="nav_li"><a href="web-dev-standards.html" class="nav_a">Web Standards</a></li>
            </ul>
        </nav>

        <div id="downloader_container">
            <div id="downloader_div_img">
                <picture id="downloader_picture">
                    <source src="" type="">
                    <a href="../downloads/Mitigating Corporate Information Exposure on the Web.pdf" download target="_Literature Review"><img src="../images/PDF-Icon.png" alt="Literature Review Link"></a>
                </picture>
            </div>

            <div id="downloader_link">
                <h2 id="downloader_link_h"><a href="../downloads/Mitigating Corporate Information Exposure on the Web.pdf" download target="_Literature Review" id="downloader_link_a">Literature Review Download</a></h2>
            </div>
        </div>

        <article id="literature_review_container">
            <section id="lr_main_body">
                <header id="lr_body_header">
                    <h1 id="ls_h1">Mitigating Corporate Information Exposure on the Web</h1>
                </header>

                <main id="literature_main">
                    <div id="lr_div-intro">
                        <p id="ls_intro_p">The purpose of this literature review is to examine how corporate companies can mitigate information exposure on the web. 
                            Throughout several sections, this paper will discuss internal and external variables that are involved in information exposure by discussing 
                            information used, workplace ethics and techniques individuals can adopt in-order for an act of non-observance to occur.</p>
                    </div>

                    <div id="lr_div-risk-management">
                        <p id="lr_risk-management">Most, many corporations will have a risk management system to handle business threats, one of those threats should 
                            incorporate aspects to the creation of information, if one can monitor what information is being created internally then it can be easier 
                            to prevent information exposure.</p>
                    </div>

                    <div id="lr_div-BYOD">
                        <p id="lr_BYOD">Information is multidirectional, to which is stated as being exposable internally or externally, both are accountable for information 
                            exposure on the web and can be mitigated by taking reasonable actions such as stopping BYOD policies, "The taxonomy of BYOD attacks is categorized 
                            into components and security attacks. The components are including user, network, software, physical and web", (Mahinderjit Singh, et al, 2014, Page 2). 
                            The "Heartbleed" case was a major BYOD environment attack as is targeted the SSL/ TLS protocol to which would attack username and password storage, 50 
                            Million Android 4.1.1 devices were Vulnerable to "Heartbleed", (Mahinderjit Singh, et al, 2014, Page 5).</p>
                    </div>

                    <div id="lr_div-data-rates">
                        <p id="lr_data-rates">This category can be both, internal and external, in which an internal variable could be involved, if an employee were to hold a 
                            grudge against the company, for example, an employee has just been fired but their credentials have not been revoked, they could potentially gather 
                            corporate information before dispersing or even release data beforehand.</p>
                    </div>

                    <div id="lr_div-credentials">
                        <p id="lr_credentials">This category can be both, internal and external, in which an internal variable could be involved, if an employee were to hold 
                            a grudge against the company, for example, an employee has just been fired but their credentials have not been revoked, they could potentially 
                            gather corporate information before dispersing or even release data beforehand.</p>
                    </div>

                    <div id="lr_div-human-error">
                        <p id="lr_human-error">Human error or ignorance is common within those who are rushed or are naïve, "One of the biggest risks to an organization's 
                            information security is often not a weakness in the technology control environment," rather, the action or inaction of employees, (Information 
                            Supplement: Best Practices for Implementing a Security Awareness Program, 2014, Page 1). Many businesses will provide a dedicated period to 
                            training new employees to reduce or eliminate indecent employee workflow; This is a vital weakness that needs to be addressed as patterns 
                            will occur and in this case, information could possibly be lost.</p>
                    </div>

                    <div id="lr_div-injections">
                        <p id="lr_injections">Many websites have been developed and or implemented poorly; after pen-testing all vulnerabilities, some may slip through. Injections are very frequent
                            amongst hackers; the premise of a "command injection or shell injection attacks variants which causes arbitrary execution of commands supplied by a malicious web attacker",
                            (Bhowmick, 2014, Page 4). The two most used injections are snippets of code that add custom functionality of a discrete and adverse nature, the purpose of a code injection
                            is to exploit computer bugs in a compromised system to adapt the method of execution, to mitigate code injections on the web, developers must sanitize all data entry points
                            and monitor for trusted and untrusted data sources.</p>
                    </div>

                    <div id="lr_div-SQL">
                        <p id="lr_SQL">"SQL injection attacks are initiated by manipulating the data input on a web form such that fragments of SQL instructions are passed to the Web application" 
                            (SQL Injection Attacks: Detection in a Web Application Environment, 2016, Page 3). An SQL based attack requires a web-platform or application to possess features such 
                            as none sanitised data points, if an attacker can input an SQL query, they can manipulate a database and return sensitive information with no authorisation.</p>
                    </div>

                    <div id="lr_div-wifi">
                        <p id="lr_wifi">A common courtesy of a company is to provide a free Wi-Fi network for either staff devices or guests, this opens to a technique called "phishing, 
                            also known as carding or brand spoofing, has many definitions; we want to be very careful how we define the term, since it is constantly evolving. Instead of 
                            a static definition, let's look at the primitive phishing methods" (James & Jevans, 2005, Page 10). The purpose of phishing is to attack an individual or 
                            company posing as an acclaimed source, the attacker could take the form of a social platform or more creditable, a bank. The concept of phishing is to 
                            perceive yourself as a trustworthy source in-order to manipulate an individual whereby exposing confidential information relating to usernames, passwords, 
                            bank details or revealing patterns in which passwords are based upon.</p>
                    </div>

                    <div id="lr_div-phishing">
                        <p id="lr_phishing">Although phishing is not a preferred choice of attack, it can be particularly effective as spam emails, these emails contain malicious scripts, 
                            when opened will cause email self-duplication and proceed to transmission. If an email of this type is sent to an employee and said employee opens the email, 
                            it does increase the chance of that email being forward to all their contacts, if the email is a business address, it will be forwarded to all staff members 
                            and continue until someone realises, at which point the damage may have already have happened.</p>
                    </div>

                    <div id="lr_div-hacking">
                        <p id="lr-hacking">There have been many cases to which discrete information has been gathered via a "hacking" technique, social engineering is defined as "the 
                            practice of obtaining confidential information by manipulation of legitimate users" (Man, 2008, Page 11). It focuses on the weaknesses and vulnerabilities 
                            of human nature. The fundamental concept is to find a pattern or approach to one's routine or behaviour to gain the correct information to successfully 
                            plagiarise identification, this will give someone the ability to act as the victim. If a valuable employee has fallen into the trap of a social engineer 
                            and has given the required details, adversely, this will increase the chances of an unwanted information transfer. Social engineering relies on the gullibility 
                            of people to believe a trustworthy source.</p>
                    </div>

                    <div id="lr_div-conclusion">
                        <p id="lr_conclusion">To conclude this paper, the frequency at which corporations are finding alternative forms of defence is simply not on par with that of attack 
                            methods, with systems such as Metasploit ranging from legacy to modern day system with over 1600 payloads to distribute and vastly growing with frequent updates 
                            should be enough for companies to do more, invest resources into a generalised battle on cybersecurity. Resources may help; however, human error will always be 
                            inevitable. Corporations should implement more dedicated training time to their systems and workplace ethics that enforces employee regulations to be adhered to. 
                            Once corporations reduce the vulnerabilities within human nature, only then can they start to truly mitigate unlawful breaches where data is concerned.</p>
                    </div>
                </main>
            </section>

            <section id="bibliography">
                <header id="bibliography_header">
                    <h2 id="bibliography_heading"><span id="bib_references">References:</span></h2>
                </header>

                <cite class="citation">Bhowmick, S. (2014). Command Injection/Shell Injection (p. 4). Retrieved from <a href="www.exploit-db.com/docs/42593.pdf" class="cite_ref">www.exploit-db.com/docs/42593.pdf</a></cite>
                <cite class="citation">Information Supplement: Best Practices for Implementing a Security Awareness Program. (2014) (1st ed., p. 1). Retrieved from <a href="www.pcisecuritystandards.org/documents/PCI_DSS_V1.0_Best_Practices_for_Implementing_Security_Awareness_Program.pdf" class="cite_ref">www.pcisecuritystandards.org/documents/PCI_DSS_V1.0_Best_Practices_for_Implementing_Security_Awareness_Program.pdf0</a></cite>
                <cite class="citation">James, L., & Jevans, D. (2005). Phishing exposed (p. 10). Rockland, Mass: Syngress Pub. Retrieved from <a href="ebookcentral.proquest.com/lib/portsmouth-ebooks/reader.action?docID=254846" class="cite_ref"></a></cite>
                <cite class="citation">Mahinderjit Singh, M. (2014). SECURITY ATTACKS TAXONOMY ON BRING YOUR OWN DEVICES (BYOD) MODEL (p. 2, 5). Penang: University of Science, Malaysia. Retrieved from <a href="www.wireilla.com/papers/ijmnct/V4N5/4514ijmnct01.pdf" class="cite_ref"></a></cite>
                <cite class="citation">Man, I. (2008). Hacking the Human: Social Engineering Techniques and Security Countermeasures (p. 11). Aldershot: Ashgate. Retrieved from <a href="ebookcentral.proquest.com/lib/portsmouth-ebooks/detail.action?docID=438809" class="cite_ref"></a></cite>
                <cite class="citation">SQL Injection Attacks: Detection in a Web Application Environment, 2016. (2016) (p. 3). Retrieved from <a href="www.dbnetworks.com/pdf/sql-injection-detection-web-environment.pdf" class="cite_ref"></a></cite>
            </section>
        </article>
    </body>
</html>
