<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../styling/master.css">
    <link rel="stylesheet" href="../styling/web_standards.css">
    <title>WEBF1 CW | Web Standards</title>
</head>
    <body>
        <header class="page_heading">
            <h1 class="header_heading">This page is dedicated towards What I have been up to during University</h1>
    
            <picture class="header_picture">
                <source media="(min-width: 100%)" srcset="../images/uop.png">
                <img src="../images/uop.png" alt="UoP Logo">
            </picture>
        </header>
        
        <nav id="navigation"></nav>
        <script type="text/javascript" src="../scripts/navigation.js"></script>

        <nav class="navigation">
            <ul class="nav_ul">
                <li class="nav_li"><a href="../index.html" class="nav_a">Home</a></li>
                <li class="nav_li"><a href="./literature_review.html" class="nav_a">Literature Review</a></li>
                <li class="nav_li"><a href="./discovery_log.html" class="nav_a">Discovery Log</a></li>
                <li class="nav_li"><a href="./uni.html" class="nav_a">Uni</a></li>
                <li class="nav_li"><a href="./web-dev-standards.html" class="nav_a">Web Standards</a></li>
                <li class="nav_li"><a href="./Modules/CAR.html" class="nav_a">CAR</a></li>
                <li class="nav_li"><a href="./Modules/COMP-TUT.html" class="nav_a"></a></li>
                <li class="nav_li"><a href="./Modules/INDADD.html" class="nav_a"></a></li>
                <li class="nav_li"><a href="./Modules/INTPROG.html" class="nav_a">INTPROG</a></li>
                <li class="nav_li"><a href="./Modules/NETFUN.html" class="nav_a">NETFUN</a></li>
                <li class="nav_li"><a href="./Modules/WEBF1.html" class="nav_a">WEBF1</a></li>
            </ul>
        </nav>
    </body>
</html>
