body {

}

.week_vert-line {
    display: none;
    width: 95%;
    height: 2%;

    /* Ports Moodle Purple */
    background-color: #61185F;
    margin-top: -6px;
    margin-bottom: 10px;
}

.week_container::before, .week_container::after {
   
}