body {

}

#ds_header, #abstract_heading, #abstract_para, #intro_heading, #intro_para, #logs_heading, #logs_para {
    text-align: center;
}

.week_container:after {
    content: " ";
    display: block;
    border-bottom: 5px solid #61185F;
}

/* A poor attempt to use more psuedo-attributes */
.week_heading::before {
    content: "Week "
}

img {
    width: 20%;
    height: auto;
}

pre {
    border-left: 1px solid #000;
}

.cyan {
    color: #20C5C6;
}

.red {
    color:#C30000;
}

.green{
    color: #16C11C;
}

.black{
    color: #000000;
}