body {

}

@media (max-width: 640px) {
    li {
        font-size: small;
    }

    #menu_container {
        padding-bottom: 35px;
    }
}

@media (max-width: 1100px) and (min-width: 781px) {
    li {
        font-size: large;
    }
}

#index_video_container {
    max-width: 100%;
    height: auto;
}

#gd_img, #footer_github_link, .github_icon {
    width: auto;
    height: 20%;
}

