html {
    height: 100%; 
}
body {
    min-height: 100%;
}

.page_header {}

.header_picture {} 

/* CSS for navigation properties */



/* CSS for navigation properties */

/* CSS for uni.html map */
#map {
    height: 35%;
}
/* CSS for uni.html map */

/* CSS  for module header */
.module_picture {
    height: 30%;
    widows: 100%
}

/* CSS  for module header */