body {

}

.page_header {}

.header_picture {} 

/* CSS for navigation properties */
.nav_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav_li {
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid #bbb;
}

.newNav_a {
    display: inline;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.newNav_a:hover {
    background-color: #4CAF50;
}

.active {
    background-color: #4CAF50;
}
/* CSS for navigation properties */

/* CSS for uni.html map */
#map {
    height: 35%;
}
/* CSS for uni.html map */

/* CSS  for module header */
.module_picture {}

/* CSS  for module header */